<h1> VenmoPlus</h1> <h3>       - Explore your <a href="http://www.venmo.com" target="_blank">Venmo</a> network!</h3>
 &nbsp;&nbsp; 

<h4> built by Qingpeng "Q.P." Zhang, for Insight Data Engineering Program</h4>
<h5> Currently VenmoPlus.com is runnng in "Lite" mode with limited computing resources and partial transactions data to reduce cost. It only supports historic transactions after June 25th, 2016 and real time transactions. The graph is in full scale though, with  about 4 million nodes and 40 million edges. The response time may be longer. Thanks for your patience! -- by QP on July 20th, 2016 </h5>
<div style="margin-top: 60px;">
    <span class="col-md-6 col-md-offset-3">
    <input type="text" class="form-control" ng-model="searchString" placeholder='Please type your name here: ' ng-change="search()"/>
    </span>
</div>

<div class="clearfix"></div>

<table id="list_of_user" class="table table-striped table-condensed" style="margin-top: 60px;">
    <thead>
    <tr>
        <th style="min-width: 80px;">Name</th>
        <th style="min-width: 100px;">Friends</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in results">
        <td><a href="#/user/{{result.user_id}}">{{ result.name }}</a></td>
        <td>{{ result.friend }}</td>
    </tr>
    </tbody>
</table>
<hr noshade>
<b>Disclaimer:</b> This website is not affiliated with, maintained, authorized, endorsed or sponsored by Venmo.com or its affiliates. <b>The data presented in this website is only from the Venmo transactions shared publicly and is not complete.</b> This website is built purely for the purpose of practicing data engineering skills. To learn more about how this website is built, please check <a href="https://github.com/qingpeng/VenmoPlus">this</a> Github repo.


